<div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= cl_image_path @list.photo.key %>)">
    <%=@list.name%>
  </div>
  <div>
    <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "nav-link" %>
  </div>
  <div class="cards">
    <% @list.movies.each do |movie| %>
    <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
    <div class="card-movie">
      <div class="card-image-container">
        <img src="<%= movie.poster_url %>">
      </div>
      <div class="card-movie-infos">
        <div>
          <h2><%= movie.title %></h2>
          <h3><%= bookmark.comment if bookmark %></h3>
          <p><%= movie.overview %></p>
        </div>
        <div>
          <p class="card-movie-rating avatar-bordered" ><%= movie.rating %></p>
        </div>
    </div>
  <% end %>
  </div>
</div>
